<footer class="mt-auto">
    <div class="footer-inner container">
        <div class="foot-left col-md-6 float-left">
            <div class="footer-logo">
                <img src="../../static/image/footer_logo.png" alt="에듀립로고"/>
            </div>
            <p><strong>고객센터</strong></p>
            <div>
                <p>오전 10시 ~ 오후 5시 (주말,공휴일 휴무)</p>
                <p>070-4774-9315</p>
            </div>
            <ul class="footer-cs list-inline">
                <li><a href="#"> 자주 묻는 질문</a></li>
                <li><a href="#">1:1 온라인 문의</a></li>
            </ul>
            <p>고객센터 운영시간에 순차적으로 답변해 드리겠습니다.</p>
        </div>
        <div class="foot-right col-md-12 col-md-6 float-right">
            <ul class="list-inline">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">제휴문의</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
            </ul>
            <address>
                <p>상호명 : 주식회사 티씨컴퍼니</p>
                <p>주소 : 서울특별시 마포구 백범로 35, 아루페관 207호</p>
                <p>문의 : E-mail / <span><a href="mailto:edulib@tccom.co.kr"> edulib@tccom.co.kr</a></span></p>
                <p>통신판매업신고 2022-서울마포-1319호</p>
                <p>대표전화 : 070-4774-9316 ㅣ FAX : 02-6008-9678</p>
                <p>사업자 등록번호 : 502-86-40012 ㅣ 대표이사 : 최대명</p>                        
            </address>
            <div class="tc-logo">
                <img src="../../static/image/tc_logo.png" alt="티씨컴퍼니로고"/>
            </div>
        </div>
    </div>
</footer>

<!-- 모바일(767px) 화면시 노출되는 하단 탭메뉴 -->
    <div class="tab_btm d-xs-none">
        <div class="tab_btm_inner">
            <ul class="list-inline text-center">
                <!-- 메인 홈으로 이동 -->
                <li>
                    <a href="#">
                        <img src="../../static/image/free-icon-home-3917033.png" alt="홈아이콘버튼"/>
                        <span>홈</span>
                    </a>
                </li>
                <!-- 검색창 노출? -->
                <li class="src-btn">
                    <a href="#">
                        <img src="../../static/image/free-icon-search-3917132.png" alt="검색아이콘버튼"/>
                        <span>검색</span>
                    </a>
                </li>
                <!-- 내가 찜한 콘텐츠 (비로그인시 -> 로그인화면) -->
                <li>
                    <a href="#">
                        <img src="../../static/image/free-icon-heart-3916579.png" alt="찜아이콘버튼"/>
                        <span>찜</span>
                    </a>
                </li>
                <!-- 마이 에듀립 > 나의 관심주제 -->
                <li>
                    <a href="#">
                        <img src="../../static/image/free-icon-user-3917688.png" alt="사용자아이콘버튼"/>
                        <span>My</span>
                    </a>
                </li>
                <!-- 서브페이지 전체 메뉴뎁스 -->
                <li class="more-btn">
                    <a href="#">
                        <img src="../../static/image/free-icon-menu-dots-3917230.png" alt="더보기아이콘버튼"/>
                        <span>더보기</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

<!-- jQuery -->
<script src="../../static/external/plugins/jquery/jquery.min.js"></script>
<!-- jQuery ui -->
<script src="../../static/external/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- bootstrap -->
<script src="../../static/external/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../static/external/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="../../static/external/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="../../static/external/dist/js/adminlte.min.js"></script>
<!-- InputMask, fullCalendar 2.2.5 -->
<script src="../../static/external/plugins/moment/moment.min.js"></script>
<!-- fullCalendar 2.2.5 -->
<script src="../../static/external/plugins/fullcalendar/main.js"></script>
<!-- InputMask -->
<script src="../../static/external/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="../../static/external/plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="../../static/external/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../../static/external/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="../../static/external/plugins/summernote/summernote-bs4.min.js"></script>
<!-- jQuery Loading -->
<script src="../../static/external/plugins/jquery-loading/jquery.loading.js"></script>
<!-- base script -->
<script src='../../static/js/base/tccom-common.js'></script>
<script src='../../static/js/base/tccom-fileuploader.js'></script>
<script src='../../static/js/base/tccom-component.js'></script>
<script src='../../static/js/base/tccom-function.js'></script>
<script src='../../static/js/base/tccom-auto.js'></script>
<!-- 신규 추가 -->
<script src="../../static/external/dist/js/aos.js"></script>
<!-- Development -->
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<!-- Production -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<!-- swiper -->
<script src="../../static/external/plugins/swiperslide/swiper.min.js"></script>
<!-- 메인 -->
<script src="../../static/js/main/main.js"></script>
<script src="../../static/js/main/sub.js"></script>
</body>
</html>